@import './colors.scss';

/* Shared buttons
 ------------------------------ ------------------------------ ------------------------------ ------------------------------
 ------------------------------ ------------------------------ ------------------------------ ------------------------------
 ------------------------------ ------------------------------ ------------------------------ ------------------------------
*/

:global {

  .btn {
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: none;
    font-family: "Lato-Bold";
    padding: 12px 24px;
    display: inline-block;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .small-btn-group {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 2px rgba(30, 35, 159, 0.04);
    li {
      width: 44px;
      height: 44px;
      border-right: solid 1px #f4f4fd;

    }
  }

  .btn-round-small {
    border-radius: 100px;
    height: 36px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-group-rounded {
    height: 36px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 2px rgba(30, 35, 159, 0.04);
    cursor: pointer;
    li {
      font-size: 14px;
      line-height: 1;
      color: #3e90ff;
      padding: 10px 22px;
    }
    .active-rounded-button {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 2px rgba(30, 35, 159, 0.04);
      border-radius: 40px;
    }
  }

  .fab-btn {
    padding: 14px;
    border-radius: 50%;
    display: inline-block;
  }

  .btn-emphasis {
    padding-right: 64px;
    padding-left: 64px;
  }

  .btn-primary {
    background-color: $mainColor;
    color: $white;

    &:hover {
      background-color: color($mainColor shade(3%));
    }
  }

  .btn-secondary {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 2px rgba(30, 35, 159, 0.04);

    &:hover {
      box-shadow: 0 3px 12px 0 rgba(48, 80, 96, .1);
    }
  }

  .btn-disabled {
    background-color: $text-light;
  }

  .btn-dashed {
    border: 1px dashed #cfd6e4;
    color: $text-light;
    background: $white;
    box-shadow: none;
    font-family: 'Lato-Regular';
    min-height: 128px;
  }

  .btn-transparent {
    border: none;
    box-shadow: none;
    color: $text-medium;
    margin: 0 14px;
    &:hover {
      box-shadow: 0 3px 12px 0 rgba(48, 80, 96, .1);
    }
  }

  .btn-transparent-blue {
    border: none;
    box-shadow: none;
    color: $mainColor;
  }

  .btn-small {
    padding: 15px;
  }

  .btn-fw,
  .input-fw {
    width: 100%;
  }

  .select-fw {
    .select-control {
      width: 100%;
    }
  }

  .label {
    font-size: 16px;
    color: #889bbb;
    display: block;
    margin-bottom: 12px;
  }

  .input {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(31, 35, 160, 0.04), 0 0 8px 2px rgba(30, 35, 159, 0.04);
    font-size: 16px;
    color: $text-dark;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    flex: 1;
    transition: box-shadow .25s cubic-bezier(0.7, 0, 0.3, 1);

    &::placeholder {
      color: $text-light;
    }

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(31, 35, 160, 0.05), 0 0 10px 2px rgba(30, 35, 159, 0.05);
    }

    &:focus {
      box-shadow: 0 3px 12px 0 rgba(48, 80, 96, .1);
    }
  }

  .inputGroup {
    margin-bottom: 24px;
  }

  .input-group-big {
    margin-bottom: 48px;
    margin-top: 48px;
  }

  .checkbox {
    margin: 10px 0;
    display: block;
    color: $text-medium;
    input {
      margin-right: 15px;
    }
  }
  .row-group{
    height: 44px;

    &>*{
      height: 44px;
      box-shadow: none;
      &:hover, &:focus{
        box-shadow: none !important ;
      }
    }

    &>input{
      border: 1px solid $mainColor-light;
    }
    &>*:first-child{
      border-radius: 3px 0px  0px 3px;
    }
    &>*:last-child{
      border-radius: 0px 3px  3px 0px;
    }
  }

  .input-light{
    height: 44px;
    box-shadow: none;
    border: 1px solid $mainColor-light;
    &:hover, &:focus{
      box-shadow: none;
    }
  }

}
