@import './colors.scss';

/* Shared buttons
 ------------------------------ ------------------------------ ------------------------------ ------------------------------
 ------------------------------ ------------------------------ ------------------------------ ------------------------------
 ------------------------------ ------------------------------ ------------------------------ ------------------------------
*/

:global {

  .btn {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: none;
    font-family: "Lato-Bold";
    padding: 12px 24px;
    display: inline-block;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }


  .btn-buy {
    background-color: $callToActionColor;
    color: $white;
    &:hover {
      background-color: color($callToActionColor shade(3%));
    }
  }

  .btn-download {
    border-radius: 3px;
    background-color: $mainColor;
    color: $white;
    &:hover {
      background-color: color($mainColor shade(3%));
    }
  }

  .btn-transparent {
    border: none;
    box-shadow: none;
    color: $mainColor;
    &:hover {
      box-shadow: 0 3px 12px 0 rgba(48, 80, 96, .1);
    }
  }

  .input {
    width: 100%;
    height: 43px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(31, 35, 160, 0.04), 0 0 8px 2px rgba(30, 35, 159, 0.04);
    font-size: 16px;
    color: $text-dark;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    flex: 1;
    transition: box-shadow .25s cubic-bezier(0.7, 0, 0.3, 1);

    &::placeholder {
      color: $text-light;
    }

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(31, 35, 160, 0.05), 0 0 10px 2px rgba(30, 35, 159, 0.05);
    }

    &:focus {
      box-shadow: 0 3px 12px 0 rgba(48, 80, 96, .1);
    }
  }

}
