$mainColor: #3E90FF;
$callToActionColor: #ffb203;

$mainColor-brand-dark: #2570f7;


$mainColor-dark: #5c6369;
$mainColor-light: #ebeff5;

$toggle: #e0def8;
$text-dark: #47577d;
$text-light: #cfd6e4;
$text-medium: #889bbb;

$white: #ffffff;
$red: #fc5f5f;
$green: #28c350;

$warning: #ff6200;