$small-text: 12px;
$mid-text: 14px;
$normal-text: 16px;
$big-text: 20px;
$extra-big: 24px;

:global {

  h1,h2,h3,h4, h4 {
    font-size: 2em;
  }

  .page-title {
    color: $text-dark;
    font-size: $extra-big;
  }

  .section-heading {
    font-size: 20px;
    color: $text-dark;
  }

  .subsection-heading {
    font-size: $mid-text;
    font-weight: bold;
    color: $text-dark;
  }

  .title {
    font-size: $big-text;
    color: $text-dark;
  }
  
  .warning{
    color: $warning !important;
  }
  
}

