@import "../../styles/colors.scss";

.list {
  margin: 50px;
  flex-wrap: wrap;

  &Item {
    width: 50%;
    background-color: $white;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid $mainColor-light;
    transition: background-color .3s linear;

    &:hover {
      background-color: $mainColor-light;
    }

    img {
      margin-right: 30px;
      width: 128px;
    }
    &Vertical {
      border-bottom: none;
    }
  }
}