.bookDetails {
  .callToAction {
    margin: 10px 0;
  }
}

.infoList {
  li {
    margin-bottom: 10px;
  }
  b {
    margin-right: 10px;
  }
}

.description,
.categories,
.bookDetails {
  margin-bottom: 30px;
  h2, h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}